@forward './skeleton';

:is(:disabled, .disabled):is(button, input, select, textarea, a) {
  cursor: not-allowed;
  opacity: .5;

  &:is(button, input[type="submit"], input[type="button"], a):hover {
    background-color: var(--tp-common-black);
    color: var(--tp-common-white);
  }
}

.description-text {
  height: 96px;
}

.show-more-less {
  cursor: pointer;
  font-weight: 500;
  color: var(--tp-theme-primary);
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.v-hidden {
  visibility: hidden;
}

.v-visible {
  visibility: visible;
}


.text-start {
  text-align: left !important;

  [dir=rtl] & {
    text-align: right !important;
  }
}

.text-end {
  text-align: right !important;

  [dir=rtl] & {
    text-align: left !important;
  }
}